/* 
                    MAIN
*/

body{
    background-color: #B91450;
}

form{
    height: 170px;
}

.input-container{
    height: 80px;
}

.my-text-red{
    color: #B91450;
}

.border-red{
    border: 2px solid #B91450;
}

.btn-container{
    height: 90px;
}

.noneticket{
    display: none;
}

.ticket{
    display: block;
}
